<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{% block title %}REPOCRACY{% block extratitle %}{% endblock %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.png" />
    <link media="all" rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
    <link media="all" rel="stylesheet" href="{{ MEDIA_URL }}facebox/facebox.css" type="text/css" />
</head>
    <body id="{% block body_id %}{% endblock %}">
        <div id="top">
            {% block top %}
            <div id="logo">
                <h1><a href="{% url home %}" title="REPOCRACY">REPOCRACY</a></h1>
                <div id="auth">
                    {% if user.is_authenticated %}
                        <p>Hi, {{ user.username }}! <a href="/admin/logout">Logout</a></p>
                    {% else %}
                        <p><a href="{% url bluebird_initiate_login %}?next=/" title="login">Login</a></p>
                    {% endif %}
                </div>
            </div>
            {% endblock %}
        </div>
        <div id="bottom">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <div>
            <p>Coded for the DjangoDash 2010 by <a href="http://codysoyland.com" title="Cody">Cody</a> &amp; <a href="http://neversaw.us">Chris</a>.</p>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}facebox/facebox.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
                $('a[rel*=facebox]').facebox({
                    loadingImage : '{{ MEDIA_URL }}facebox/loading.gif',
                    closeImage   : '{{ MEDIA_URL }}facebox/closelabel.gif'
                });
        });
    </script>
    {% block extrajs %}

    {% endblock %}
</html>
