<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{% block title %}REPOCRACY{% block extratitle %}{% endblock %}{% endblock %}</title>

    <link media="all" rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
</head>
    <body id="{% block body_id %}{% endblock %}">
        <div id="top">
            {% block top %}
            <div id="logo">
                <h1><a href="{% url home %}" title="REPOCRACY">REPOCRACY</a></h1>
            </div>
            {% endblock %}
        </div>
        <div id="bottom">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
