{% extends "base.html" %}

{% block body_id %}home{% endblock %}

{% block top %}
    {{ block.super }}
    <div class="background">
        <div>
            <p>
            </p>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div id="formcontainer">
    <form method="POST" action=".">
        <div>
        <div>
        <input id="id_origin" type="text" name="origin" maxlength="255" placeholder="Public GIT or HG URL" />
        {{ form.errors }}
        {% csrf_token %}
        <input type="submit" value="Free It!" />
        </div>
        </div>
    </form>
    <div id="dude"></div>
    </div>
    <div id="explanation">
        <div class="lhs">
            <h3>Translate your repo into HG/GIT!</h3>
            <p>Allow others to work on your repository, no matter their DCVS.</p>
            <h3>Set up web hooks on Bitbucket or Github</h3>
            <p>Automatically mirror your newest commits on Bitbucket or Github to
            the opposite repo. Just add &ldquo;Repocracy&rsquo; to your repo on the 
            DCVS site you want to mirror to, and set up a web hook on your source
            DCVS site.</p>
        </div>
        <div class="rhs">
            <h2>Free your Repo!</h2>
            <p>Code is code &mdash; regardless of the DCVS you use to manage it! With Repocracy, 
            there&rsquo;s no reason not to make your code available on both Bitbucket and Github.
            We make it easy. REPOCRACY NOW!
            <h2>No sign up!</h2>
            <p>Just paste a publically available repo URL, and we&rsquo;ll translate it for you
            and keep the mirrors available for 30 days. If you want to keep the mirrors available
            longer, sign up using twitter &mdash; don&rsquo;t worry, we just need a username &mdash; and
            we&rsquo;ll keep your mirror available indefinitely.</p>
        </div>

    </div>
{% endblock %}
