{% extends "base.html" %}

{% block body_id %}home{% endblock %}

{% block top %}
    {{ block.super }}
    <div class="background">
        <div>
            <p>
            </p>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div id="formcontainer">
    <form method="POST" action=".">
        <div>
        <div>
        <input id="id_origin" type="text" name="origin" maxlength="255" placeholder="Public GIT or HG URL" />
        {% csrf_token %}
        <input type="submit" value="Free It!" />
        </div>
        </div>
    </form>
    <div id="dude"></div>
    </div>
{% endblock %}
