{% extends "base.html" %}
{% block body_id %}detail{% endblock %}
{% block content %}
<div>
    <h2>{{ repo.name }}</h2>
    <div>
        {% if not repo.user and not user.is_authenticated and can_claim %}
            <p>
                You haven&rsquo;t claimed this repo. It will be deleted in 30 days if it is not claimed.
                To claim it, <a href="{% url bluebird_initiate_login %}?next={{ repo.get_claim_url }}" title="login with twitter">login with twitter</a>.
            </p>
        {% endif %}
        <h3>Clone URLs</h3>
        <dl>
            <dt>Git</dt><dd><code>{{ repo.git_uri }}</code></dd>
            <dt>Mercurial</dt><dd><code>{{ repo.hg_uri }}</code></dd>
        </dl>
        {% if repo.user and repo.user.pk == user.pk or can_claim %}
        <h3>Service Hook URL</h3>
        <p><code>http://{{ site.name }}{% url post_receive repo.pk %}</code></p>
        {% endif %}
    {% if repo.remote_set.all|length < 1 %}
    <form action="." method="POST">
        <h3>Push to this remote</h3>
        <p><label for="id_username">Username</label> {{ remote_form.username }}</p>
        <p><label for="id_repo_name">Repo name</label> {{ remote_form.repo_name }}</p>
        <p><label for="id_type">Repo type</label> {{ remote_form.type }}</p>
        <p><label for="id_auto_push">Auto-push</label> {{ remote_form.auto_push }}</p>
        <input type="submit" />
        {% csrf_token %}
    </form>
    {% else %}
        <form>
            <h3>Push to this remote</h3>
            <p>We&rsquo;re setup to push to <code>{% with repo.remote_set.all|first as remote %}{{ remote.remote_url }}{% endwith %}</code></p>
        </form>
    {% endif %}
    </div>
</div>
{% endblock %}
