{% extends "base.html" %}
{% block body_id %}pending{% endblock %}
{% block content %}
    {% if repo.user and user.pk != repo.user.pk %}
        <div class="stuff-to-do">
            <h2>This repo isn&rsquo;t fully baked yet.</h2> 
        </div>
    {% else %}
        <div class="stuff-to-do">
            <h2>While you wait...</h2>
                {% if not repo.user %}
                <div>
                    <h3>Register with twitter!</h3>
                    <p>
                        Register with us using twitter, and we&rsquo;ll keep your repo around indefinitely.
                        If you&rsquo;re registered, you can even set up a URL to push your {{ repo.repo_type }} repo to to mirror it to other SCM&rsquo;s.
                        Click <a href="{% url bluebird_initiate_login %}?next={{ repo.get_claim_url }}" title="login with twitter">here</a>.
                    </p>
                </div>
                {% else %}
                <div>
                    <h3>Add our user to your repos</h3>
                    <p>
                        If you add &ldquo;Repocracy&rdquo; to your repo on {% if repo.origin_type == 0 %}Bitbucket{% else %}Github{% endif %}, we can push changes from {% if repo.origin_type == 0 %}Github{% else %}Bitbucket{% endif %}.
                    </p>
                </div>
                <div>
                    <h3>Set up a post-push hook on {% if repo.origin_type == 0 %}Github{% else %}Bitbucket{% endif %}</h3>
                    <p>
                        That way, whenever you push to {% if repo.origin_type == 0 %}Github{% else %}Bitbucket{% endif %},
                        your changes will end up on {% if repo.origin_type == 0 %}Bitbucket{% else %}Github{% endif %}
                    </p>
                </div>
                {% endif %}
        </div>
        <div class="status">
            <div class="pending">We&rsquo;re about to clone your repo.</div>
            <div class="cloned">We&rsquo;ve cloned your repo.</div>
            <div class="translating">We&rsquo;re translating your repo.</div>
            <div class="ready">We're done!</div>
        </div>
    {% endif %}
    <a href="#fail" rel="facebox" id="things-failed"></a>
    <div id="fail" style="display:none;">
        <h2>Things failed.</h2>
        <p>We&rsquo;re really sorry. Things broke.</p>
        <p>You may need to add "Repocracy" as a collaborator on your repo.</p>
    </div>
{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        {% if not repo.user or user.pk == repo.user.pk %}
        $(function() {
            var statuses = [
                'pending',
                'cloned',
                'translating',
                'ready',
            ];
            var getStatus = function(statusInt) {
                var stat = statuses[statusInt];
                return stat || 'error';
            };

            var refresh_url = "{% url repo_status repo.pk %}",
                refresher = function(data) {
                    var fn = arguments.callee;
                    $('body').addClass(getStatus(data.status));
                    if(data.status < 3) {
                        setTimeout(function() {
                            $.getJSON(refresh_url, fn);
                        }, 200);
                    } else {
                        if(data.status < 4) {
                            setTimeout(function() {
                                location.reload();
                            }, 1000);
                        } else {
                            $('#things-failed').click();
                        }
                    }
            };
            setTimeout(function() {
                refresher({'status':0});
            }, 100);
        });
        {% endif %}
    </script>
{% endblock %}
